$gongsi :"account-top@3x" ;
$imgRoot:"//img.58cdn.com.cn/job/m/my/qzzbz/0.1/img/" ;
.IntroPage-block{
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 80px;
  .person-cards-content{
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 120px;
  }
  .person-cards-block{
    width: 360px;
    height: 360px;
    background: #fff;
    margin: 20px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform linear 0.3s;
    box-shadow:0px 3px 3px 2px #eee ;
    .reverse-detail{
      display: none;
    }
    .normal-intro .title-img{
      width: 120px;
      height: 120px;
      background: lightblue;
      margin: 60px auto;
      border-radius: 60px;
      background-size: contain !important;
    }
    .normal-intro .title-intro{
      font-size: 20px;
    }
  }
  .person-cards-block-hide{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    background: #f5f5cc;
    transition: all .5s ease-out;
    .reverse-detail-show{
      margin: 20px 30px;
      border-radius: 10px;
      display: block;
      transform: rotateY(-180deg);
      transition: all .5s ease-out;
      color: rgba(140, 37, 209, 0.8);
    }
    .reverse-detail-show p {
      line-height: 40px;
      text-align: left;
    }
    .normal-intro{
      display: none;
    }
  }
  .person-cards-block:nth-child(1) .title-img{
    background: url('//pic1.58cdn.com.cn/nowater/cxnomark/n_v20142c554475c4e1e90bc081072734be0.png') no-repeat;
  }
  .person-cards-block:nth-child(2) .title-img{
    background: url('../../assest/gongsi.png') no-repeat;
  }
  .person-cards-block:nth-child(3) .title-img{
    background: url('../../assest/gongzuotai.png') no-repeat;
    border-radius: 0px;
  }
  .person-cards-block:nth-child(4) .title-img{
    background: url('../../assest/jishufuwu.png') no-repeat;
    border-radius: 0px;
  }
  .person-cards-block:nth-child(5) .title-img{
    background: url('../../assest/xiangmu.png') no-repeat;
    border-radius: 0px;
  }
  .person-cards-block:nth-child(6) .title-img{
    background: url('//pic1.58cdn.com.cn/nowater/cxnomark/n_v2442060f8d6694640a917da63f2b26cbc.png') no-repeat;
  }
  .icon-more{
    width: 40px;
    height: 60px;
    background: url('../../assest/arrow.png') no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 80px;
    cursor: pointer;
    animation: pullaction linear 1s infinite;
  }
  .userTool-content{
    width: 1200px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
  }
  .extends-intro{
    width: 800px;
    height: auto;
    margin: 80px auto;
    position: relative;
    .youSaid-block{
      display: block;
      width: 500px;
      height: 280px;
      text-decoration: none;
      border-style: none;
      border-radius: 10px;
      margin: auto ;
      padding: 10px;
    }
    .support, .unsupport {
      width: 30px;
      height: 30px;
      background-image: url('../../assest/zan1.png');
      // background-image: 
      background-size: cover ;
      background-position: center;
      margin-bottom: 6px;
      position: absolute ;
      top: 30px;
      left: 50px;
      cursor: pointer;
      opacity: 0.7;
      &:hover{
       opacity: 1;
      }
    }
    .unsupport{
      transform: rotate(-180deg);
      top: 70px;
    }
    .youSaid-submit {
      font-size: 18px;
      width: 100px;
      height: 40px;
      line-height: 40px;
      background: #eee;
      border-radius: 20px;
      color: #666;
      border: 1px solid #fff;
      letter-spacing: 5px;
      margin: auto;
      margin-top: 30px;
      cursor: pointer;
    }
    .youSaid-submit:hover{
      background: rgba(140, 37, 209, 0.2);
      color: #fff;
    }
    .youSaid-name{
      border: none;
      margin-top: 30px;
      height: 40px;
      padding: 0px 3px;
      border-bottom: 1px solid #fff;
      background: transparent;
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
    .youSaid-name::-webkit-input-placeholder {
      color: #fff;
    }
    .youSaid-name::-moz-input-placeholder {
      color: #fff;
    }
    .youSaid-name::-ms-input-placeholder {
      color: #fff;
    }
  }
  .visible {
    display: none;
  }
}


@keyframes pullaction{
  25%{
    transform: translate3d(0,10px ,0);
  }
  50%{
    transform: translate3d(0,0px,0);
  }
  75%{
    transform: translate3d(0,-10px,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}