.ListPage-block{
  width: 100%;
  height: auto;
  min-height: 800px;
  padding-top: 80px;
  .center-List{
    width: 900px;
    height: auto;
    min-height: 800px;
    margin: auto;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 40px 30px;
    position: relative;
  }
  .extends-main-list{
    position: fixed;
    top: 180px;
    width: 140px;
    height: 400px;
    background: #fff;
  }
}