.ToolMenu-tips{
  width: 70px;
  height: auto;
  // overflow: hidden;
  position: fixed;
  top: 0px;
  right: 20px;
  .tool-line{
    height: 40px;
    width: 5px;
    margin: auto;
    background: linear-gradient(#eb6912, #c4a80d,#e2ad1c);
    animation: lineframes 5s ease-in-out infinite;
    padding-top: 38px;
  }
  .tool-block{
    width: 70px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px 0px;
    background: #fff;
    margin-top: -5px;
    animation: blockframes 5s ease-in-out 0.4s infinite;
    margin-left: -35px;
    border: 1px solid rgba(140, 37, 209,0.8);
  }
  .menu-item{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color:  rgba(140, 37, 209,0.8);
    background: #ffffff;
  }
  .menu-item:hover{
    cursor: pointer;
    color: rgb(140, 37, 209);
  }
}

@keyframes lineframes{
  0%{
    transform: rotate(-3deg);
  }
  
  50%{
    transform: rotate(3deg);
  }
  100%{
    transform: rotate(-3deg);
  }
}
@keyframes blockframes {
  0%{
    transform: rotate3d(0, 1, 0, 20deg);
  }
  
  50%{
    transform: rotate3d(0, 1, 0, -20deg);
  }
  100%{
    transform: rotate3d(0, 1, 0, 20deg);
  }
}